.absolute-center
{
	margin: auto;
	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
	width: 50%; 
	height: 50%;
	min-width: 200px;
	max-width: 400px;
	padding: 40px;
}

#output
{
	/* http://stackoverflow.com/a/18036534/5415895 */
	margin: auto;
    float: none;

	/* https://codepen.io/OldManJava/pen/bwupj */
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
}

#output-box
{
	text-align: center;
}

#outer-span
{

}

#copyButton
{
	padding: 0;
}

/* https://github.com/TexAgg/TexAgg.github.io/blob/dynamic/styles/style.css#L50 */
footer
{
	font-size: 0.75em;
	text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ccc;

	/* https://codepen.io/cbracco/pen/zekgx */
	position: absolute;
	right: 0;
	bottom: 0;
  	left: 0;
}