.centered-horizontal
{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.centered-vertical
{
	margin-top: auto;
	margin-bottom: auto;
}

#output
{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

/* https://github.com/TexAgg/TexAgg.github.io/blob/dynamic/styles/style.css#L50 */
footer
{
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ccc;
}